apiVersion: v2
name: steampipe
description: A Helm chart for Kubernetes to deploy Steampipe
type: application
version: 1.0.0
appVersion: 2.3.4
home: https://github.com/devops-ia/helm-steampipe
sources:
  - https://github.com/turbot/steampipe
maintainers:
  - name: amartingarcia
    email: adrianmg231189@gmail.com
    url: https://github.com/amartingarcia
keywords:
  - steampipe
dependencies:
  - name: oauth2-proxy
    version: 7.7.*
    repository: https://oauth2-proxy.github.io/manifests/
    condition: oauth2Proxy.enabled
